{% extends 'base.twig' %}

{% block title %}
  {% trans %}preview.title{% endtrans %}
{% endblock %}

{% block nav %}
  {% if authenticated and not navbar_hide %}
    {{ parent() }}
  {%  endif %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="static/js/preview.js"></script>
  <script src="static/js/diff_match_patch.js"></script>
  <script src="static/js/diff.js"></script>
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand navbar-light bg-light navbar-toolbar" style="border-bottom: 3px solid {{ action_color }};">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item mr-3" id="history_back"><a class="nav-link" href="#" onclick="history.go(-1); return false;"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;{% trans %}preview.nav.back{% endtrans %}</a></li>
      {% if found_in_node %}
        {% if 'preview-mail-body' not in disabled_features %}
          {% if 'preview-mail-body-original' not in disabled_features %}
            <li class="nav-item dropdown mr-2">
              <a href="#" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-download"></i>&nbsp;{% trans %}preview.nav.download.title{% endtrans %}</a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="?page=download&id={{ mail.msgid }}:{{ mail.msgactionid }}&node={{ node_id }}&index={{ index }}">{% trans %}preview.nav.download.option.modified{% endtrans %}</a>
                <a class="dropdown-item" href="?page=download&original=1&id={{ mail.msgid }}:{{ mail.msgactionid }}&node={{ node_id }}&index={{ index }}">{% trans %}preview.nav.download.option.original{% endtrans %}</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="?page=download&id={{ mail.msgid }}:{{ mail.msgactionid }}&node={{ node_id }}&&index={{ index }}"><i class="fa fa-download"></i>&nbsp;{% trans %}preview.nav.download.title{% endtrans %}</a>
            </li>
          {% endif %}
        {% endif %}
        {% if (msg_action in ['QUEUE', 'QUARANTINE']) and not pending_action_type and not errors.database is defined %}
          <li class="nav-item">
            <div class="btn-group">
              <a class="btn btn-outline-primary" href="#" data-action="bounce"><i class="fa fa-reply"></i>&nbsp;{% trans %}preview.nav.actions.bounce{% endtrans %}</a>
              <a class="btn btn-outline-primary" href="#" data-action="delete"><i class="far fa-trash-alt"></i>&nbsp;{% trans %}preview.nav.actions.delete{% endtrans %}</a>
              <a class="btn btn-outline-primary" href="#" data-action="retry"><i class="fa fa-share"></i>&nbsp;{% if msg_action=='QUARANTINE' or msg_action=='ARCHIVE' %}{% trans %}preview.nav.actions.release{% endtrans %}{% else %}{% trans %}preview.nav.actions.retry{% endtrans %}{% endif %}</a>
            </div>
          </li>
        {% endif %}
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if reportfp or reportfn %}
        <li class="nav-item dropdown">
          <a href="#" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ban"></i>&nbsp;{% trans %}preview.nav.report.title{% endtrans %}</a>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            {% if reportfp %}<a class="dropdown-item" href="{{ app.request.uri }}&report=1&reporttype=fp">{% trans %}preview.nav.report.option.fp{% endtrans %}</a>{% endif %}
            {% if reportfpfile %}<a class="dropdown-item" href="{{ app.request.uri }}&report=1&reporttype=fp&file=1">{% trans %}preview.nav.report.option.fpfile{% endtrans %}</a>{% endif %}
            {% if reportfn %}<a class="dropdown-item" href="{{ app.request.uri }}&report=1&reporttype=fn&file=1">{% trans %}preview.nav.report.option.fn{% endtrans %}</a>{% endif %}
          </div>
        </li>
      {% endif %}
      {% if 'preview-textlog' not in disabled_features and feature_textlog and (is_superadmin or textlog_access) %}
        <li class="nav-item ml-2"><a class="btn btn-outline-secondary" href="?page=log&id={{ mail.id }}&index={{ index }}"><i class="far fa-file-alt"></i>&nbsp;{% trans %}preview.nav.textlog{% endtrans %}</a></li>
      {% endif %}
      {% if found_in_node and 'preview-mail-body' not in disabled_features and 'preview-mail-body-original' not in disabled_features %}
        <li class="nav-item ml-2">
          <div class="btn-group btn-group-toggle">
            <a class="btn btn-outline-secondary {% if show_original %}active{% endif %}" href="{{ show_original_link }}">{% trans %}preview.card.content.source.original{% endtrans %}</a>
            <a class="btn btn-outline-secondary {% if not show_original %}active{% endif %}" href="{{ show_modified_link }}">{% trans %}preview.card.content.source.modified{% endtrans %}</a>
          </div>
        </li>
      {% endif %}
    </ul>
  </nav>

  <div class="container-fluid pt-3">
    {% for error in errors %}
      <div class="alert alert-danger"><i class="far fa-exlamation"></i>&nbsp;{{ error }}</div>
    {% endfor %}
    {% if pending_action_type %}
      <div class="alert alert-info"><i class="far fa-clock"></i>&nbsp;Message has a pending <span class="font-weight-bold">{{ pending_action_type }}</span> action.</div>
    {% endif %}
    <div class="row mb-2">
      <div class="col">
        <h5 class="font-weight-light">
          <span class="badge mr-2" style="vertical-align: text-top; margin-top: 0px; background-color: {{ action_color }}; color: #fff" title="{{ mail.queue.action ?? mail.msgaction }}">{{ msg_action }}</span><span>{{mail.msgid}}</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="card mb-3">
          <div class="card-body">
            {% if mail.msgtlsstarted == true %}
              <i class="fa fa-lock float-right text-muted" title="{% trans %}preview.card.details.fields.tlsstarted{% endtrans %}"></i>
            {% endif %}
            <dl>
              <dt>{% trans %}preview.card.details.fields.date{% endtrans %}</dt><dd>{{ msgts|date('Y-m-d H:i:s') }}</dd>
              {% if listener %}
                <dt>{% trans %}preview.card.details.fields.listener{% endtrans %}</dt><dd>{{ listener }}</dd>
              {% endif %}
              <dt>{% trans %}preview.card.details.fields.senderhelo{% endtrans %}</dt><dd>{{ mail.msgsenderhelo }}</dd>
              <dt>{% trans %}preview.card.details.fields.senderip{% endtrans %}</dt><dd>{% if geoip.isocode is defined %}<span class="flag-icon flag-icon-{{ geoip.isocode }}" title="{{ geoip.name }}"></span> {% endif %}{{ mail.msgfromserver }}</dd>
              <dt>{% trans %}preview.card.details.fields.sender{% endtrans %}</dt><dd class="wrap">{{ mail.msgfrom }}</dd>
              <dt>{% trans %}preview.card.details.fields.recipient{% endtrans %}</dt><dd class="wrap">{{ mail.msgto }}</dd>
              <dt>{% trans %}preview.card.details.fields.subject{% endtrans %}</dt><dd class="wrap">{{ mail.msgsubject }}</dd>
              <dt>{% trans %}preview.card.details.fields.size{% endtrans %}</dt><dd class="wrap" title="{{ mail.msgsize }} bytes">{{ mail.msgsize }} B</dd>
              <dt>{% trans %}preview.card.details.fields.details{% endtrans %}</dt>
              <dd>
                {% if mail.queue.action %}
                  {{ mail.queue.errormsg }}
                {% elseif mail.doc.msgaction == 'QUEUE' %}
                  {% trans with {'%count%': mail.retry ? mail.retry : 0 } %}index.table.tbody.msgaction.queue{% endtrans %} <span class="text-muted">{{ mail.queue.errormsg }}</span>
                {% else %}
                  {{ mail.msgdescription }}
                {% endif %}
              </dd>
              {% if mail.msgsasl %}
                <dt>{% trans %}preview.card.details.fields.user{% endtrans %}</dt><dd>{{ mail.msgsasl }}</dd>
              {% endif %}
              {% if transport %}
                <dt>{% trans %}preview.card.details.fields.transport{% endtrans %}</dt><dd>{{ transport }}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
        {% if mail.metadata is iterable and not mail.metadata is empty %}
          <div class="card mb-3">
            <div class="card-header">
              {% trans %}preview.card.metadata.title{% endtrans %}
            </div>
            <div class="card-body">
              <dl>
                {% for key,value in mail.metadata %}
                  <dt>{{ key }}</dt><dd>{{ value }}</dd>
                {% endfor %}
              </dl>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="col-lg-7">
        {% if found_in_node %}
          {% if header %}
            <div class="card mb-3">
              <div class="card-header">
                <a href="#" class="float-right" id="expand-header-btn"><i class="fa fa-expand"></i></a>
                <span>{% trans %}preview.card.content.headers.title{% endtrans %}</span>
              </div>
              <div class="card-body closed" id="header-card-body">
                <div class="preview-headers text-muted wrap">{{ header }}</div>
              </div>
            </div>
          {% endif %}
          <div class="card mb-3">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link {% if show_html == 'HTML' %}active{% endif %}" href="{{ show_html_link }}">HTML</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if show_text == 'TEXT' %}active{% endif %}" href="{{ show_text_link }}">Plain-text</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              {% if 'preview-mail-body' in disabled_features %}
                <div class="card-text msg-body"><p class="text-muted text-center">{% trans %}preview.card.content.state.nopermission.title{% endtrans %}<br><small>{% trans %}preview.card.content.state.nopermission.message{% endtrans %}</small></p></div>
              {% elseif not body is defined %}
                <div class="card-text msg-body"><p class="text-muted text-center">{% trans %}preview.card.content.state.unavailable.title{% endtrans %}<br><small>{% trans %}preview.card.content.state.unavailable.message{% endtrans %}</small></p></div>
              {% elseif encode == 'TEXT' %}
                <pre class="card-text msg-body">{{ body }}</pre>
              {% elseif encode == 'HTML' or encode == 'ERROR' %}
                <iframe id="preview-html" sandbox srcdoc="{{ body }}" class="panel-body msg-body-iframe"></iframe>
                <script>
                  var updateSize = function() {
                    $("#preview-html").css("height", $(window).height() * 0.3);
                  }
                  $(updateSize);
                  $(window).resize(updateSize);
                </script>
              {% endif %}
              {% if attachments %}
                <div class="card-footer">
                  <ul class="list-inline">
                    {% for attachment in attachments %}
                      <li class="nowrap">
                        <i class="fa fa-{{ attachment.icon }}"></i>
                        {{ attachment.name }}&nbsp;<small class="text-muted">({{ attachment.size }})</small>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if feature_scores and scores %}
          <div class="card mb-3">
            <div class="card-header">
              {% trans %}preview.card.scores.title{% endtrans %}
            </div>
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>{% trans %}preview.card.scores.thead.engine{% endtrans %}</th>
                  <th>{% trans %}preview.card.scores.thead.result{% endtrans %}</th>
                  <th class="d-none d-sm-table-cell">{% trans %}preview.card.scores.thead.signature{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
              {% for score in scores %}
                <tr>
                  <td>{{ score.name }}</td>
                  <td>{{ score.score }}</td>
                  <td class="text-muted d-none d-sm-table-cell wrap">{{ score.text }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="3" class="text-muted text-center">{% trans %}preview.card.scores.tbody.empty{% endtrans %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>

      {% if msg_action in ['QUEUE', 'QUARANTINE'] %}
      <form id="actionform" method="post" action="?page=preview&id={{ mail.id }}&index={{ index }}">
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="referer" id="referer" value="{{ referer }}">
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}