{% extends 'base.twig' %}

{% block title %}
  {% trans %}pages.statistics{% endtrans %}
{% endblock %}

{% block nav %}
  {% if authenticated and not navbar_hide %}
    {{ parent() }}
  {%  endif %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="vendor/components/jqueryui/jquery-ui.min.js"></script>
  <script src="static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="static/chartjs/Chart.bundle.min.js"></script>
  <script src="static/js/charts.js"></script>
  <script src="static/js/stats.js"></script>
  <script src="static/js/datepicker.js"></script>
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-md navbar-light bg-light navbar-toolbar">
    <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#toolbar-collapse">
      <i class="fa fa-tools"></i>
    </button>
    <div class="collapse navbar-collapse" id="toolbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-chart-area"></i></a>
          <div class="dropdown-menu" data-chart="line">
            {% set groups = [] %}
            {% for k, i in stats.line %}
              {% if i.groupby is defined and i.groupby not in groups  %}
                {% set groups = groups|merge([i.groupby]) %}
                <h6 class="dropdown-header text-primary">{{ i.groupby }}</h6>
              {% endif %}
              <a class="dropdown-item chart-add" href="#" data-type="{{ k }}">{{ i.label }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-chart-pie"></i></a>
          <div class="dropdown-menu" data-chart="pie">
            {% set groups = [] %}
            {% for k, i in stats.pie %}
              {% if i.groupby is defined and i.groupby not in groups  %}
                {% set groups = groups|merge([i.groupby]) %}
                <h6 class="dropdown-header text-primary">{{ i.groupby }}</h6>
              {% endif %}
              <a class="dropdown-item chart-add" href="#" data-type="{{ k }}">{{ i.label }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-chart-bar"></i></a>
          <div class="dropdown-menu" data-chart="bar">
            {% set groups = [] %}
            {% for k, i in stats.bar %}
              {% if i.groupby is defined and i.groupby not in groups  %}
                {% set groups = groups|merge([i.groupby]) %}
                <h6 class="dropdown-header text-primary">{{ i.groupby }}</h6>
              {% endif %}
              <a class="dropdown-item chart-add" href="#" data-type="{{ k }}">{{ i.label }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item pl-2">
          <a class="nav-link" id="save-changes" href="#" hidden><i class="far fa-save"></i>&nbsp;{% trans %}statistics.nav.savechanges{% endtrans %}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item py-2 py-md-0">
          <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
            <label class="btn btn-outline-secondary">
              <input type="radio" id="mode-recent" name="set-mode"><i class="fas fa-sync-alt fa-fw" id="fa-recent"></i>&nbsp;Recent</button>
            </label>
            <label class="btn btn-outline-secondary active">
              <input type="radio" id="mode-interval" name="set-mode"><i class="far fa-calendar-minus fa-fw"></i>&nbsp;Interval</button>
            </label>
          </div>
        </li>
      </ul>
      <form class="form-inline" action="?page=stats">
        <input type="hidden" name="page" value="stats">
        {% include 'datepicker.twig' %}
      </form>
    </div>
  </nav>
  <div class="container-fluid pt-3" id="card-container"></div>
  <script>
    var containerName;
    {% if is_superadmin or (access.domain is defined and access.domain|length > 1) %}
      containerName = "{{ username }}";
    {% else %}
      containerName = "{{ access[0] }}";
    {% endif %}
    var chartRange = {
      start: "{{ index_start }}",
      stop: "{{ index_stop }}"
    };
    var defaultView = {{ default_view|json_encode|raw }};
    var inputFilterLabel = "{% trans %}statistics.nav.target{% endtrans %}";
    {% if not is_superadmin or (access.domain is defined and access.domain|length <= 10) %}
      var inputFilterOptions = {{ access.domain|json_encode|raw }}
    {% endif %}
  </script>
{% endblock %}
